<div align="center">

  <h1>注文情報の編集</h1>

  <p><%= link_to "TAKES", :takes %></p>

  <%= form_for @take do |form| %>
  <%= render "form", form: form %>
  <p><%= form.submit %></p>
  <% end %>

</div>
