<h1>SALES</h1>

<canvas id="sale_price" width="150" height="60"></canvas>
<canvas id="date_price" width="150" height="60"></canvas>
<canvas id="time_price" width="150" height="60"></canvas>
<canvas id="table_price" width="150" height="60"></canvas>
